*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100dvh;
  background-color: rgb(48, 24, 10);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.river {
  width: max(25%, 300px);
  height: 100%;
  background-image: url("images/lava.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  filter: opacity(0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.characters-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boat {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 200px;
  height: 100px;
  translate: 0 -50%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-image: url(images/raft.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.move-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 2rem;
}
.character {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}
.character-container {
  width: 68px;
  height: 68px;
  transition: 0.2s ease;
  padding: 0.8rem;
  overflow: hidden;
}
.character-container.onBoat {
  width: 80px;
  height: 80px;
}
.character:hover {
  scale: 1.4;
}

/* animations */
.boat-to-right {
  animation-name: toRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.boat-to-left {
  animation-name: toLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.char-to-right {
  -webkit-animation: slide-out-blurred-right 0.5s
    cubic-bezier(0.47, 0, 0.745, 0.715) 500ms both;
  animation: slide-out-blurred-right 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    500ms both;
}
.char-to-left {
  -webkit-animation: slide-out-blurred-left 0.5s
    cubic-bezier(0.47, 0, 0.745, 0.715) 500ms both;
  animation: slide-out-blurred-left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    500ms both;
}
.charEnterance {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.stay-right {
  left: 100%;
  translate: -101% -50%;
}
.stay-left {
  left: 1%;
  translate: 0% -50%;
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes toRight {
  from {
    left: 0px;
  }
  to {
    left: 100%;
    translate: -101% -50%;
  }
}
@keyframes toLeft {
  from {
    left: 101%;
    translate: -101% -50%;
  }
  to {
    left: 1%;
    translate: 0% -50%;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(300px) scaleX(2) scaleY(0.2);
    transform: translateX(300px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);

    opacity: 0;
  }
}

@keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-300px) scaleX(2) scaleY(0.2);
    transform: translateX(-300px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

/* set animations */
